In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
df = pd.read_csv("C:/NEU/CPS Q4/Second Half/ALY6150 Healthcare_Pharma Data and Applications/1999 to 2016 mortality rate.csv")

C:\Users\yashy\AppData\Local\Temp\ipykernel_11004\599422566.py:1: DtypeWarning: Columns (12,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/NEU/CPS Q4/Second Half/ALY6150 Healthcare_Pharma Data and Applications/1999 to 2016 mortality rate.csv")

#### To deal with this issue, we can do two things, listed below:
1. Specify **dtype** option on **import**: When reading the data into a DataFrame from a file, such as a CSV file, we can specify the dtype parameter to explicitly define the data types for the columns. This can help resolve the mixed types warning. 

2. Set **low_memory=False**: Another option is to set the *low_memory parameter* to *False* when reading the data. This will prevent pandas from trying to infer the data types while reading the file and may help resolve the mixed types warning. However, setting low_memory=False may increase the memory usage for larger datasets. 

And we have decided to move forward with the second option as we see it beneficial for our further work!

In [3]:
df = pd.read_csv("C:/NEU/CPS Q4/Second Half/ALY6150 Healthcare_Pharma Data and Applications/1999 to 2016 mortality rate.csv", low_memory = False)

In [4]:
df

,ICD Chapter,ICD Chapter Code,Year,Year Code,State,State Code,2013 Urbanization,2013 Urbanization Code,Gender,Age Group,Age Group Code,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error
0,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Central Metro,1,Female,65-74 years,65-74,20,27625,72.4,44.2,111.8,16.2
1,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Central Metro,1,Female,75-84 years,75-84,22,20323,108.3,67.8,163.9,23.1
2,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Central Metro,1,Female,85+ years,85+,30,8514,352.4,237.7,503,64.3
3,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Fringe Metro,2,Female,75-84 years,75-84,12,8702,137.9 (Unreliable),71.3,240.9,39.8
4,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Fringe Metro,2,Female,85+ years,85+,10,3190,313.5 (Unreliable),150.3,576.5,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419351,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,25-34 years,25-34,18,9696,185.6 (Unreliable),110,293.4,43.8
419352,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,35-44 years,35-44,14,9664,144.9 (Unreliable),79.2,243.1,38.7
419353,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,45-54 years,45-54,18,10047,179.2 (Unreliable),106.2,283.1,42.2
419354,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,55-64 years,55-64,12,12487,96.1 (Unreliable),49.7,167.9,27.7
419355,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,65-74 years,65-74,16,9247,173.0 (Unreliable),98.9,281,43.3

##### After looking at the above data, we can easily spot the issue that we saw earlier in loading the CSV file. 
* Column Crude Rate has some values which contains both float values and (Unreliable). Just for cleaning the dataset, I tried to find out in which more columns do we have this same thing.

Process:

<ol type="a">
  <li>Analysing the Data Types  - df.info()</li>
  <li>First we fixed the issues in column Crude Rate</li>
  <li>Extracting only numerical value using a function - extract_numerical_value(df, column_name)</li>
  <li>Checking if It all worked out!!</li>
</ol>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419356 entries, 0 to 419355
Data columns (total 17 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   ICD Chapter                               419356 non-null  object
 1   ICD Chapter Code                          419356 non-null  object
 2   Year                                      419356 non-null  int64
 3   Year Code                                 419356 non-null  int64
 4   State                                     419356 non-null  object
 5   State Code                                419356 non-null  int64
 6   2013 Urbanization                         419356 non-null  object
 7   2013 Urbanization Code                    419356 non-null  int64
 8   Gender                                    419356 non-null  object
 9   Age Group                                 419356 non-null  object
 10  Age Group Code                            419356 non-null  object
 11  Deaths                                    419356 non-null  int64
 12  Population                                419356 non-null  object
 13  Crude Rate                                419356 non-null  object
 14  Crude Rate Lower 95% Confidence Interval  419356 non-null  object
 15  Crude Rate Upper 95% Confidence Interval  419356 non-null  object
 16  Crude Rate Standard Error                 419356 non-null  object
dtypes: int64(5), object(12)
memory usage: 54.4+ MB

In [6]:
df.columns

Index(['ICD Chapter', 'ICD Chapter Code', 'Year', 'Year Code', 'State',
       'State Code', '2013 Urbanization', '2013 Urbanization Code', 'Gender',
       'Age Group', 'Age Group Code', 'Deaths', 'Population', 'Crude Rate',
       'Crude Rate Lower 95% Confidence Interval',
       'Crude Rate Upper 95% Confidence Interval',
       'Crude Rate Standard Error'],
      dtype='object')

In [7]:
def extract_numerical_value(df, column_name):
    df[column_name] = df[column_name].str.extract(r'(\d+\.\d+|\d+)')
    return df

In [8]:
extract_numerical_value(df, 'Crude Rate')

,ICD Chapter,ICD Chapter Code,Year,Year Code,State,State Code,2013 Urbanization,2013 Urbanization Code,Gender,Age Group,Age Group Code,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error
0,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Central Metro,1,Female,65-74 years,65-74,20,27625,72.4,44.2,111.8,16.2
1,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Central Metro,1,Female,75-84 years,75-84,22,20323,108.3,67.8,163.9,23.1
2,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Central Metro,1,Female,85+ years,85+,30,8514,352.4,237.7,503,64.3
3,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Fringe Metro,2,Female,75-84 years,75-84,12,8702,137.9,71.3,240.9,39.8
4,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Fringe Metro,2,Female,85+ years,85+,10,3190,313.5,150.3,576.5,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419351,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,25-34 years,25-34,18,9696,185.6,110,293.4,43.8
419352,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,35-44 years,35-44,14,9664,144.9,79.2,243.1,38.7
419353,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,45-54 years,45-54,18,10047,179.2,106.2,283.1,42.2
419354,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,55-64 years,55-64,12,12487,96.1,49.7,167.9,27.7
419355,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,65-74 years,65-74,16,9247,173.0,98.9,281,43.3

In [9]:
# Converting the data type of column "Crude Rate" from object to float64

df["Crude Rate"] = df['Crude Rate'].astype(float)

In [10]:
# Checking if it all worked out

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419356 entries, 0 to 419355
Data columns (total 17 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   ICD Chapter                               419356 non-null  object
 1   ICD Chapter Code                          419356 non-null  object
 2   Year                                      419356 non-null  int64
 3   Year Code                                 419356 non-null  int64
 4   State                                     419356 non-null  object
 5   State Code                                419356 non-null  int64
 6   2013 Urbanization                         419356 non-null  object
 7   2013 Urbanization Code                    419356 non-null  int64
 8   Gender                                    419356 non-null  object
 9   Age Group                                 419356 non-null  object
 10  Age Group Code                            419356 non-null  object
 11  Deaths                                    419356 non-null  int64
 12  Population                                419356 non-null  object
 13  Crude Rate                                419325 non-null  float64
 14  Crude Rate Lower 95% Confidence Interval  419356 non-null  object
 15  Crude Rate Upper 95% Confidence Interval  419356 non-null  object
 16  Crude Rate Standard Error                 419356 non-null  object
dtypes: float64(1), int64(5), object(11)
memory usage: 54.4+ MB

#### As it worked well on Crude Rate, We will try to do the same thing on 'supposed to be' numerical columns.

Process:
<ol type="a">
  <li>Finding all the column names where there are any character except Float values - characters_except_float(df)</li>
  <li>Using the results from above function to remove any character other than numerical with a function - remove_special_characters_and_alphabets(df, columns)</li>
  <li>The above step is performed upon - 'Population', 
                                             'Crude Rate', 
                                             'Crude Rate Lower 95% Confidence Interval', 
                                             'Crude Rate Upper 95% Confidence Interval', 
                                             'Crude Rate Standard Error'
    columns. We did this because right now we want to preserve numerical values</li>
  <li>Checking if it worked!!</li>
</ol>

In [11]:
# Finding all the column names where there are any character except Float values - characters_except_float(df)

def characters_except_float(df):
    """
    Find columns in a DataFrame that have special characters (including alphabets) but exclude float values in any row.

    Parameters:
        df (pandas.DataFrame): The DataFrame to search for columns.

    Returns:
        list: A list of column names that have special characters (excluding floats) in any row.

    Example:
        # Create a sample DataFrame
        data = {'Column1': ['ABC', '123', '123.456'],
                'Column2': ['XYZ', '456', '789'],
                'Column3': ['PQR', '789', '()']}
        df = pd.DataFrame(data)

        # Find columns with special characters except floats and alphabets
        special_columns = characters_except_float(df)

        print(special_columns)
        # Output: ['Column3']
    """

    special_char_columns = []

    for column in df.columns:
        is_float = df[column].apply(lambda x: isinstance(x, float))
        special_chars = df[column].apply(lambda x: re.findall(r'[^\d.\s]', str(x)))
        if any(special_chars.str.len() > 0) and not all(is_float):
            special_char_columns.append(column)

    return special_char_columns

In [12]:
characters_except_float(df)

['ICD Chapter',
 'ICD Chapter Code',
 'State',
 '2013 Urbanization',
 'Gender',
 'Age Group',
 'Age Group Code',
 'Population',
 'Crude Rate Lower 95% Confidence Interval',
 'Crude Rate Upper 95% Confidence Interval',
 'Crude Rate Standard Error']

In [13]:
def remove_special_characters_and_alphabets(df, columns):
    """
    Remove special characters and alphabets from specified columns in a DataFrame.

    Parameters:
        df (pandas.DataFrame): The DataFrame containing the columns to be modified.
        columns (list): A list of column names to remove special characters and alphabets from.

    Returns:
        pandas.DataFrame: The modified DataFrame with special characters and alphabets removed from the specified columns.
    """
    for column in columns:
        df[column] = df[column].astype(str).str.replace(r'[^0-9.]', '', regex=True)
    return df

The above step is performed upon - 

1. 'Population', 
2. 'Crude Rate', 
3. 'Crude Rate Lower 95% Confidence Interval', 
4. 'Crude Rate Upper 95% Confidence Interval', 
5. 'Crude Rate Standard Error' 

We did this because right now we want to preserve numerical values

In [14]:
remove_special_characters_and_alphabets(df, ['Population', 
                                             'Crude Rate', 
                                             'Crude Rate Lower 95% Confidence Interval', 
                                             'Crude Rate Upper 95% Confidence Interval', 
                                             'Crude Rate Standard Error'])

,ICD Chapter,ICD Chapter Code,Year,Year Code,State,State Code,2013 Urbanization,2013 Urbanization Code,Gender,Age Group,Age Group Code,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error
0,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Central Metro,1,Female,65-74 years,65-74,20,27625,72.4,44.2,111.8,16.2
1,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Central Metro,1,Female,75-84 years,75-84,22,20323,108.3,67.8,163.9,23.1
2,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Central Metro,1,Female,85+ years,85+,30,8514,352.4,237.7,503,64.3
3,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Fringe Metro,2,Female,75-84 years,75-84,12,8702,137.9,71.3,240.9,39.8
4,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Fringe Metro,2,Female,85+ years,85+,10,3190,313.5,150.3,576.5,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419351,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,25-34 years,25-34,18,9696,185.6,110,293.4,43.8
419352,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,35-44 years,35-44,14,9664,144.9,79.2,243.1,38.7
419353,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,45-54 years,45-54,18,10047,179.2,106.2,283.1,42.2
419354,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,55-64 years,55-64,12,12487,96.1,49.7,167.9,27.7
419355,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,65-74 years,65-74,16,9247,173.0,98.9,281,43.3

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419356 entries, 0 to 419355
Data columns (total 17 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   ICD Chapter                               419356 non-null  object
 1   ICD Chapter Code                          419356 non-null  object
 2   Year                                      419356 non-null  int64
 3   Year Code                                 419356 non-null  int64
 4   State                                     419356 non-null  object
 5   State Code                                419356 non-null  int64
 6   2013 Urbanization                         419356 non-null  object
 7   2013 Urbanization Code                    419356 non-null  int64
 8   Gender                                    419356 non-null  object
 9   Age Group                                 419356 non-null  object
 10  Age Group Code                            419356 non-null  object
 11  Deaths                                    419356 non-null  int64
 12  Population                                419356 non-null  object
 13  Crude Rate                                419356 non-null  object
 14  Crude Rate Lower 95% Confidence Interval  419356 non-null  object
 15  Crude Rate Upper 95% Confidence Interval  419356 non-null  object
 16  Crude Rate Standard Error                 419356 non-null  object
dtypes: int64(5), object(12)
memory usage: 54.4+ MB

In [16]:
def object_to_float(df, columns):
    for column in columns:
        df[column] = df[column].astype(float)
    return df

In [17]:
column_lst = ['Population', 'Crude Rate Lower 95% Confidence Interval', 'Crude Rate Upper 95% Confidence Interval', 'Crude Rate Standard Error']
object_to_float(df, column_lst)

In [18]:
def find_Number_of_rows_with_nothing(df, columns):
    empty_dict = {}
    for column in columns:
        empty_rows = df[df[column] == '']
        empty_rows_count = len(empty_rows)
        empty_dict[column] = empty_rows_count
    return empty_dict

In [19]:
columns_list = ['Population', 'Crude Rate Lower 95% Confidence Interval', 'Crude Rate Upper 95% Confidence Interval', 'Crude Rate Standard Error']
find_Number_of_rows_with_nothing(df, columns_list)

{'Population': 31,
 'Crude Rate Lower 95% Confidence Interval': 31,
 'Crude Rate Upper 95% Confidence Interval': 31,
 'Crude Rate Standard Error': 31}

In [20]:
def remove_empty_with_null(df, columns):
    for column in columns:
        df[column] = df[column].replace('', np.nan)
    return df

In [21]:
remove_empty_with_null(df, columns_list)

,ICD Chapter,ICD Chapter Code,Year,Year Code,State,State Code,2013 Urbanization,2013 Urbanization Code,Gender,Age Group,Age Group Code,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error
0,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Central Metro,1,Female,65-74 years,65-74,20,27625,72.4,44.2,111.8,16.2
1,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Central Metro,1,Female,75-84 years,75-84,22,20323,108.3,67.8,163.9,23.1
2,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Central Metro,1,Female,85+ years,85+,30,8514,352.4,237.7,503,64.3
3,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Fringe Metro,2,Female,75-84 years,75-84,12,8702,137.9,71.3,240.9,39.8
4,Certain infectious and parasitic diseases,A00-B99,1999,1999,Alabama,1,Large Fringe Metro,2,Female,85+ years,85+,10,3190,313.5,150.3,576.5,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419351,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,25-34 years,25-34,18,9696,185.6,110,293.4,43.8
419352,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,35-44 years,35-44,14,9664,144.9,79.2,243.1,38.7
419353,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,45-54 years,45-54,18,10047,179.2,106.2,283.1,42.2
419354,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,55-64 years,55-64,12,12487,96.1,49.7,167.9,27.7
419355,External causes of morbidity and mortality,V01-Y89,2016,2016,Wyoming,56,NonCore (Nonmetro),6,Male,65-74 years,65-74,16,9247,173.0,98.9,281,43.3

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419356 entries, 0 to 419355
Data columns (total 17 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   ICD Chapter                               419356 non-null  object
 1   ICD Chapter Code                          419356 non-null  object
 2   Year                                      419356 non-null  int64
 3   Year Code                                 419356 non-null  int64
 4   State                                     419356 non-null  object
 5   State Code                                419356 non-null  int64
 6   2013 Urbanization                         419356 non-null  object
 7   2013 Urbanization Code                    419356 non-null  int64
 8   Gender                                    419356 non-null  object
 9   Age Group                                 419356 non-null  object
 10  Age Group Code                            419356 non-null  object
 11  Deaths                                    419356 non-null  int64
 12  Population                                419325 non-null  object
 13  Crude Rate                                419356 non-null  object
 14  Crude Rate Lower 95% Confidence Interval  419325 non-null  object
 15  Crude Rate Upper 95% Confidence Interval  419325 non-null  object
 16  Crude Rate Standard Error                 419325 non-null  object
dtypes: int64(5), object(12)
memory usage: 54.4+ MB

In [23]:
df['Population'] = df['Population'].astype('int64')

ValueError: cannot convert float NaN to integer

The above error shows that we have some **NA** and **infinite** values in Population column, so we will drop them and then will convert Population to integer, because it is a discrete number, not continuous.

In [24]:
def print_null_percentage(df):
    for col in df.columns:
        null_count = df[col].isnull().sum()
        null_percentage = (null_count / len(df)) * 100
        print(f"Percentage of null values in {col}: {null_percentage}%")

def plot_null_graph(df):
    sns.heatmap(df.isnull(), cbar=False)
    plt.show()

In [25]:
print_null_percentage(df)

Percentage of null values in ICD Chapter: 0.0%
Percentage of null values in ICD Chapter Code: 0.0%
Percentage of null values in Year: 0.0%
Percentage of null values in Year Code: 0.0%
Percentage of null values in State: 0.0%
Percentage of null values in State Code: 0.0%
Percentage of null values in 2013 Urbanization: 0.0%
Percentage of null values in 2013 Urbanization Code: 0.0%
Percentage of null values in Gender: 0.0%
Percentage of null values in Age Group: 0.0%
Percentage of null values in Age Group Code: 0.0%
Percentage of null values in Deaths: 0.0%
Percentage of null values in Population: 0.0073922872213584645%
Percentage of null values in Crude Rate: 0.0%
Percentage of null values in Crude Rate Lower 95% Confidence Interval: 0.0073922872213584645%
Percentage of null values in Crude Rate Upper 95% Confidence Interval: 0.0073922872213584645%
Percentage of null values in Crude Rate Standard Error: 0.0073922872213584645%

In [26]:
df = df.dropna(subset=['Population', 
                       'Crude Rate', 
                       'Crude Rate Lower 95% Confidence Interval', 
                       'Crude Rate Upper 95% Confidence Interval', 
                       'Crude Rate Standard Error'])

df.loc[:, 'Population'] = df['Population'].astype('int64')

C:\Users\yashy\AppData\Local\Temp\ipykernel_11004\3335262571.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'Population'] = df['Population'].astype('int64')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 419325 entries, 0 to 419355
Data columns (total 17 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   ICD Chapter                               419325 non-null  object
 1   ICD Chapter Code                          419325 non-null  object
 2   Year                                      419325 non-null  int64
 3   Year Code                                 419325 non-null  int64
 4   State                                     419325 non-null  object
 5   State Code                                419325 non-null  int64
 6   2013 Urbanization                         419325 non-null  object
 7   2013 Urbanization Code                    419325 non-null  int64
 8   Gender                                    419325 non-null  object
 9   Age Group                                 419325 non-null  object
 10  Age Group Code                            419325 non-null  object
 11  Deaths                                    419325 non-null  int64
 12  Population                                419325 non-null  int64
 13  Crude Rate                                419325 non-null  object
 14  Crude Rate Lower 95% Confidence Interval  419325 non-null  object
 15  Crude Rate Upper 95% Confidence Interval  419325 non-null  object
 16  Crude Rate Standard Error                 419325 non-null  object
dtypes: int64(6), object(11)
memory usage: 57.6+ MB

In [28]:
print_null_percentage(df)

Percentage of null values in ICD Chapter: 0.0%
Percentage of null values in ICD Chapter Code: 0.0%
Percentage of null values in Year: 0.0%
Percentage of null values in Year Code: 0.0%
Percentage of null values in State: 0.0%
Percentage of null values in State Code: 0.0%
Percentage of null values in 2013 Urbanization: 0.0%
Percentage of null values in 2013 Urbanization Code: 0.0%
Percentage of null values in Gender: 0.0%
Percentage of null values in Age Group: 0.0%
Percentage of null values in Age Group Code: 0.0%
Percentage of null values in Deaths: 0.0%
Percentage of null values in Population: 0.0%
Percentage of null values in Crude Rate: 0.0%
Percentage of null values in Crude Rate Lower 95% Confidence Interval: 0.0%
Percentage of null values in Crude Rate Upper 95% Confidence Interval: 0.0%
Percentage of null values in Crude Rate Standard Error: 0.0%

In [29]:
df.describe()

,Year,Year Code,State Code,2013 Urbanization Code,Deaths,Population
count,419325.000000,419325.000000,419325.000000,419325.000000,419325.000000,4.193250e+05
mean,2007.673203,2007.673203,28.904103,3.350697,102.957219,7.447795e+04
std,5.176653,5.176653,15.513222,1.664554,277.160064,1.506835e+05
min,1999.000000,1999.000000,1.000000,1.000000,10.000000,7.800000e+01
25%,2003.000000,2003.000000,17.000000,2.000000,18.000000,1.217100e+04
50%,2008.000000,2008.000000,28.000000,3.000000,35.000000,2.991900e+04
75%,2012.000000,2012.000000,42.000000,5.000000,89.000000,6.875200e+04
max,2016.000000,2016.000000,56.000000,6.000000,15627.000000,2.025259e+06

### This means there are no character values left in columns below, also we have not lost any datapoints:
1. **Population**
2. **Crude Rate**
3. **Crude Rate Lower 95% Confidence Interval**
4. **Crude Rate Upper 95% Confidence Interval**
5. **Crude Rate Standard Error**

* Dealing with Age Group Column:

1. **Summary statistics**: Compute summary statistics, such as the mean, median, mode, and standard deviation of the age groups. These statistics provide insights into the central tendency, spread, and distribution of the data.

2. **Grouping and aggregation**: Group the data based on age groups and perform aggregation operations. For example, you can group the data by age groups and calculate the count or percentage of individuals in each group.

3. **Visualizations**

In [30]:
df.columns

Index(['ICD Chapter', 'ICD Chapter Code', 'Year', 'Year Code', 'State',
       'State Code', '2013 Urbanization', '2013 Urbanization Code', 'Gender',
       'Age Group', 'Age Group Code', 'Deaths', 'Population', 'Crude Rate',
       'Crude Rate Lower 95% Confidence Interval',
       'Crude Rate Upper 95% Confidence Interval',
       'Crude Rate Standard Error'],
      dtype='object')

In [31]:
# Here we will remove extra column to reduce multicolliniearity:
df = df.drop(['ICD Chapter Code', 'Year', 'State', '2013 Urbanization', 'Age Group Code'], axis = 1)
df.head(2)

,ICD Chapter,Year Code,State Code,2013 Urbanization Code,Gender,Age Group,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error
0,Certain infectious and parasitic diseases,1999,1,1,Female,65-74 years,20,27625,72.4,44.2,111.8,16.2
1,Certain infectious and parasitic diseases,1999,1,1,Female,75-84 years,22,20323,108.3,67.8,163.9,23.1

In [32]:
df['Gender'].value_counts()

Male      217491
Female    201834
Name: Gender, dtype: int64

In [33]:
# Define the mapping dictionary
icd_mapping = {
    'External causes of morbidity and mortality': 18,
    'Neoplasms': 17,
    'Diseases of the circulatory system': 16,
    'Diseases of the respiratory system': 15,
    'Diseases of the digestive system': 14,
    'Endocrine, nutritional and metabolic diseases': 13,
    'Diseases of the nervous system': 12,
    'Certain infectious and parasitic diseases': 11,
    'Diseases of the genitourinary system': 10,
    'Mental and behavioural disorders': 9,
    'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified': 8,
    'Diseases of the musculoskeletal system and connective tissue': 7,
    'Certain conditions originating in the perinatal period': 6,
    'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism': 5,
    'Congenital malformations, deformations and chromosomal abnormalities': 4,
    'Diseases of the skin and subcutaneous tissue': 3,
    'Pregnancy, childbirth and the puerperium': 2,
    'Codes for special purposes': 1
}

# Encode the 'ICD Chapter' column using the mapping dictionary
df['ICD Chapter Encoded'] = df['ICD Chapter'].map(icd_mapping)


gender_mapping = {'Male': 1, 'Female': 0}

df['Gender_encoded'] = df['Gender'].map(gender_mapping)

In [34]:
df = df.drop(['ICD Chapter', 'Gender'], axis = 1)
df.head(2)

,Year Code,State Code,2013 Urbanization Code,Age Group,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,ICD Chapter Encoded,Gender_encded
0,1999,1,1,65-74 years,20,27625,72.4,44.2,111.8,16.2,11,0
1,1999,1,1,75-84 years,22,20323,108.3,67.8,163.9,23.1,11,0

## Working on Age Group Code

In [54]:
df['Year Code'].unique()

array([1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016], dtype=int64)

In [36]:
age_mapping = {'65-74 years': 70, 
               '75-84 years': 80, 
               '85+ years': 90, 
               '35-44 years': 40,
               '55-64 years': 60, 
               '45-54 years': 50, 
               '< 1 year': 0.5, 
               '25-34 years': 30,
               '20-24 years': 22, 
               '1-4 years': 2, 
               '5-9 years': 7, 
               '10-14 years': 12,
               '15-19 years': 17}

df['Age Group'] = df['Age Group'].map(age_mapping)

In [37]:
df.head()

,Year Code,State Code,2013 Urbanization Code,Age Group,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,ICD Chapter Encoded,Gender_encded
0,1999,1,1,70.0,20,27625,72.4,44.2,111.8,16.2,11,0
1,1999,1,1,80.0,22,20323,108.3,67.8,163.9,23.1,11,0
2,1999,1,1,90.0,30,8514,352.4,237.7,503,64.3,11,0
3,1999,1,2,80.0,12,8702,137.9,71.3,240.9,39.8,11,0
4,1999,1,2,90.0,10,3190,313.5,150.3,576.5,99.1,11,0

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 419325 entries, 0 to 419355
Data columns (total 12 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Year Code                                 419325 non-null  int64
 1   State Code                                419325 non-null  int64
 2   2013 Urbanization Code                    419325 non-null  int64
 3   Age Group                                 419325 non-null  float64
 4   Deaths                                    419325 non-null  int64
 5   Population                                419325 non-null  int64
 6   Crude Rate                                419325 non-null  float64
 7   Crude Rate Lower 95% Confidence Interval  419325 non-null  float64
 8   Crude Rate Upper 95% Confidence Interval  419325 non-null  float64
 9   Crude Rate Standard Error                 419325 non-null  float64
 10  ICD Chapter Encoded                       419325 non-null  int64
 11  Gender_encded                             419325 non-null  int64
dtypes: float64(5), int64(7)
memory usage: 57.7 MB

In [39]:
def filter_non_numeric(dataframe, column_name):
    """
    Filter a DataFrame by removing rows that contain non-numerical or float values in a specific column.

    Parameters:
        dataframe (pandas.DataFrame): The input DataFrame.
        column_name (str): The name of the column to filter.

    Returns:
        pandas.DataFrame: The filtered DataFrame containing only rows with non-numerical or float values in the specified column.
    """
    column_values = dataframe[column_name]
    non_numeric_values = column_values.loc[~(column_values.apply(np.isreal) | column_values.apply(lambda x: isinstance(x, str)))]
    filtered_dataframe = dataframe.loc[non_numeric_values.index]
    return filtered_dataframe

In [49]:
df['Crude Rate'] = df['Crude Rate'].astype(float)
df['Crude Rate Lower 95% Confidence Interval'] = df['Crude Rate Lower 95% Confidence Interval'].astype(float)
df['Crude Rate Upper 95% Confidence Interval'] = df['Crude Rate Upper 95% Confidence Interval'].astype(float)
df['Crude Rate Standard Error'] = df['Crude Rate Standard Error'].astype(float)

In [51]:
df.isnull().sum()

Year Code                                   0
State Code                                  0
2013 Urbanization Code                      0
Age Group                                   0
Deaths                                      0
Population                                  0
Crude Rate                                  0
Crude Rate Lower 95% Confidence Interval    0
Crude Rate Upper 95% Confidence Interval    0
Crude Rate Standard Error                   0
ICD Chapter Encoded                         0
Gender_encded                               0
dtype: int64

# Formulation of Null and Alternate Hypothesis

* Null Hypothesis(H0): There is no relation between ICD and Deaths

* Alternate Hypothesis(H1): There is relationship between ICD and Deaths